GOOGLE_API_KEY=YOUR_GOOGLE_API_KEY_HERE
GROQ_API_KEY=YOUR_GROQ_API_KEY_HERE
HUGGINGFACEHUB_API_TOKEN=YOUR_HUGGINGFACEHUB_API_TOKEN_HERE

# Defaults
DEFAULT_LLM_PROVIDER=groq
DEFAULT_EMBEDDING_PROVIDER=huggingface